<div class="wrapper row1">
    <header id="header" class="hoc clear">
        <div id="logo" class="fl_left">
            <h1><a href="index.html">Do we have a name ?</a></h1>
        </div>
        <nav id="mainav" class="fl_right">
            <ul class="clear">
                <li class="active"><a href="index.html"><i class="fas fa-home"></i></a></li>
                <li><a class="drop" href="#">In progress</a>
                    <ul>
                        <li><a href="#">Algo 1 - Not yet</a></li>
                        <li><a href="#">Algo 3 - Not yet</a></li>
                        <li><a href="#">Algo ... - Not yet</a></li>
                        <li><a href="#">Algo N - Not yet</a></li>
                    </ul>
                </li>
                <li><a href="result.html">Nothing to see yet</a></li>
            </ul>
        </nav>
    </header>
</div>