<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Guess What</title>

        <!-- Bootstrap core CSS -->
        <!-- link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet"-->

        <!-- Custom fonts for this template -->
        <!-- link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet"-->
        <!-- link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet"-->

        <!-- Custom styles for this template -->
        <link href="../static/styles/layout.css" rel="stylesheet" type="text/css" media="all">

    </head>

    <body>
        <div class="wrapper row1">
            <header id="header" class="hoc clear">
                <div id="logo" class="fl_left">
                    <h1><a href="{{ url_for('home') }}">Guess What</a></h1>
                </div>
                <nav id="mainav" class="fl_right">
                    <ul class="clear">
                        <li class="active"><a href="{{ url_for('home') }}"><i class="fas fa-home"></i></a></li>
                        <li><a class="drop" href="#">In progress</a>
                            <ul>
                                <li><a href="#">Algo 1 - Not yet</a></li>
                                <li><a href="#">Algo 3 - Not yet</a></li>
                                <li><a href="#">Algo ... - Not yet</a></li>
                                <li><a href="#">Algo N - Not yet</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url_for('resultPage') }}">Testez notre algo</a></li>
                    </ul>
                </nav>
            </header>
        </div>

        <div class="wrapper bgded overlay" style="background-image:url('../static/img/fondAccueil.png');">
            <div id="pageintro" class="hoc clear">
                <article>
                    <h3 class="heading">Bienvenue sur notre application</h3>
                </article>
            </div>
        </div>

        <div class="wrapper row2">
            <section id="introblocks" class="hoc container clear">
                <ul class="nospace group">
                    <li class="one_third first">
                        <article><a href="#"><i class="fas fa-hand-peace"></i></a>
                            <h6 class="heading underline">But</h6>
                            <p>Notre application permet de déterminer le genre d'un film en fontion de son affiche.</p>
                        </article>
                    </li>
                    <li class="one_third">
                        <article class="active"><a href="#"><i class="fas fa-microphone"></i></a>
                            <h6 class="heading underline">Catégories</h6>
                            <p>On parle ici de film pouvant être de l'action, de la comédie ou encore de l'horreur.</p>
                        </article>
                    </li>
                    <li class="one_third">
                        <article><a href="#"><i class="fas fa-moon"></i></a>
                            <h6 class="heading underline">Test</h6>
                            <p>Et nous avons décidé de comparer nos résultats à l'être humain.</p>
                        </article>
                    </li>
                </ul>
            </section>
        </div>

        <footer >
            <div class="hoc clear">
                <p class="m-0 small">Copyright &copy; Guess what 2021</p>
            </div>
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
        <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

    </body>
</html>